
\.idea/

/build/
/backup/
/js/
/dist/
/css/
/vendor/
/node_modules/
/recordings/
/playwright-report/
/test-results/

.php-cs-fixer.cache
.phpunit.result.cache
.env

.DS_Store
/recordings/
/playwright-report/
/test-results/