/**
 * SPDX-FileCopyrightText: 2025 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

@use './globals/layout';
@use './overrides/excalidraw';
@use './modes/viewer';
@use './modes/public-share';
