/**
 * SPDX-FileCopyrightText: 2024 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.whiteboard {
	width: 100%;
	height: calc(100% + 50px);
	position: absolute;
	top: 0;
}

.whiteboard.whiteboard-viewer__embedding {
	position: relative;
	height: 100%;
	min-height: max(400px, 50vh);
}

.whiteboard-embed__wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	height: 100%;
}

.whiteboard-embed__content {
	flex: 1;
	height: 100%;
	min-height: max(400px, 50vh);
}

.whiteboard-viewer__embedding .App {
	min-height: max(400px, 50vh);

	.excalidraw-wrapper {
		position: absolute;
		top: 0;
		bottom: 0;
		inset-inline: 0;
	}
}

.viewer--split {
	.whiteboard.viewer__file--active {
		width: 100%;
		max-width: none;

		.App,
		.excalidraw-wrapper {
			width: 100%;
		}
	}
}
