/**
 * SPDX-FileCopyrightText: 2025 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.container {
	display: flex;
	align-items: center;
	gap: 8px;
}

.settingsWrapper {
	padding: 8px 12px 12px 40px;
	font-size: 12px;
}

.fieldWrapper {
	margin-bottom: 12px;
}

.label {
	display: block;
	margin-bottom: 4px;
	font-size: 12px;
	color: var(--color-text-light);
}

.select {
	width: 100%;
	padding: 4px 8px;
	border-radius: 4px;
	border: 1px solid var(--color-border);
	background-color: var(--color-background);
	color: var(--color-text);
	font-size: 12px;
	cursor: pointer;
}

.rangeInput {
	width: 100%;
	cursor: pointer;
	accent-color: #000000;
}