/**
 * SPDX-FileCopyrightText: 2024 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.whiteboard {
	width: 100%;
	height: calc(100% + 50px);
	position: absolute;
	top: 0;
}

.whiteboard-viewer__embedding {
	min-height: min(200px, 50vh);
	position: relative;
}
